<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Economia Interactiva</title>

    <!--styles-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles/esentials.css"/>

    <link rel="stylesheet" href="../assets/styles/main.css"/>
  </head>


  <body>
    <!--navbar-->
    <div class='navbar navbar-fixed-top'>
      <nav class='navbar-inner header'>
          <div class='container'>

            <div class='brand'>
              <a href="main.html" style="font-size:30px;text-decoration:none;color:#515151;">Economia Interactivă</a>
            </div>



            <ul class='nav pull-right'>
                <li>
                  <a href="lectii.html" class='nav-link' style="font-size:30px;">Lecții</a>
                </li>
                <li>
                  <a href="teste.html" class='nav-link' style="font-size:30px;">Teste</a>
                </li>

                <!--<li>
                  <a href="login.html" class='nav-link' style="color:#4f92ff;font-size:30px;">Contul meu</a>
                </li>-->
            </ul>
          </div>
      </nav>

    </div>


<!--    <div id="content" class="container">
        <div class="row-fluid">
          <div class="span6" style="margin-top:30%;">
            <h1 style="font-size:4em;letter-spacing: 2px;">TITLU</h1>
          </div>

          <div class="span6" style="width:40%;margin-top:30%;">
            <img src="../res/svg/copii.png" alt="">
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4" style="margin-top:-20%;">
            <h2>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</h2>
          </div>
        </div>
    </div>
-->


    <div class="Modern-Slider">
    <!-- Item -->
        <div id="first" class="item" style="background-color:transparent;">
          <div id="content" class="container">
                  <div class="row-fluid">
                    <div class="span6" style="margin-top:30%;">
                      <h1 style="font-size:4em;letter-spacing: 2px;">RAPID SI EFICIENT</h1>
                    </div>

                    <div class="span6" style="width:40%;margin-top:30%;">
                      <img src="../assets/img/copii.png" alt="">
                    </div>
                  </div>

                  <div class="row-fluid">
                    <div class="span4" style="margin-top:-20%;">
                      <h2>Învățatul n-a fost niciodată mai simplu.</h2>
                    </div>
                  </div>
              </div>
        </div>


        <div class="item" style="background-color:transparent;">
          <div id="content" class="container">
              <div class="row-fluid">
                <div class="span12 text-center" style="margin-top:15%;text-align:center;">
                  <h1 style="font-size:4em;">Prin intermediul acestui site lecțiile de economie vor devenii mai atractive și ușor de reținut!</h1>
                </div>
              </div>

              <div class="row-fluid">
                <div class="span12 text-center" style="margin-top:5%;text-align:center;">
                  <h1 style="font-size:3em;color:#e5e5e5;">Urmând aceste căi:</h1>
                </div>
              </div>

              <div class="row-fluid">
                <div class="span12" style="margin-top:5%;">

                  <div style="display:block;margin-left:-85px;margin-top:50px;">
                      <div class="col_third">
                         <div class="hover panel" style="background-color:transparent;">
                           <div class="front">
                             <div class="box1">
                               <span style="font-size:5em;" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                               <p style="margin-top:20px;font-size:5em;">Limbaj</p>
                             </div>
                           </div>

                           <div class="back">
                             <div class="box2">
                               <p style="font-size:3em;">Folosirea unui limbaj adecvant elevilor.</p>
                             </div>
                           </div>

                         </div>
                      </div>

                      <div class="col_third">
                         <div class="hover panel" style="background-color:transparent;">
                           <div class="front">
                             <div class="box1">
                               <span style="font-size:5em;" class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
                               <p style="margin-top:20px;font-size:4.9em;">Jocuri</p>
                             </div>
                           </div>

                           <div class="back">
                             <div class="box2">
                               <p style="font-size:3em;">Utilizarea jocurilor interactive</p>
                             </div>
                           </div>

                         </div>
                      </div>

                      <div class="col_third">
                         <div class="hover panel" style="background-color:transparent;">
                           <div class="front">
                             <div class="box1">
                               <span style="font-size:5em;" class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                               <p style="margin-top:20px;font-size:4.7em;">Teste</p>
                             </div>
                           </div>

                           <div class="back">
                             <div class="box2">
                               <p style="font-size:3em;">Teste tip grilă, ce atesta faptul că elevul a înțeles lecția.</p>
                             </div>
                           </div>

                         </div>
                      </div>

                  </div>


                </div>
              </div>
          </div>
        </div>

        <div class="item" style="background-color:transparent;">
          <div id="content" class="container">

              <div class="row-fluid">
                <div class="span12 text-center" style="margin-top:10%;text-align:center;">
                  <h1 style="font-size:5em;">Site-ul este împărțit în două secțiuni:</h1>
                </div>
              </div>

              <div class="row-fluid">
                <div class="span6">
                  <h2 style="text-align:center;font-size:4em;">Lecții</h2>
                  <h2 style="text-align:center;font-size:3em;margin-top:10%;">Lecțiile sunt gândite în așa fel încât să stârnească curiozitatea elevului.</h2>
                </div>


                <div class="span6">
                  <h2 style="text-align:center;font-size:4em;">Teste</h2>
                    <h2 style="text-align:center;font-size:3em;margin-top:10%;">La sfârșitul fiecărei lecții, elevul poate da un test cu care își poate verifică cunostiintele.</h2>
                </div>
              </div>

              <div class="row-fluid">
                <div class="span6 text-center">
                  <img src="../assets/img/pc-lectie.png" style="display:block;margin-left: auto;margin-right: auto ;margin-top:10%;width:70%;" alt="">
                </div>

                <div class="span6 text-center">
                  <img src="../assets/img/pc-test.png" style="display:block;margin-left: auto;margin-right: auto ;margin-top:10%;width:70%;" alt="">
                </div>
              </div>
          </div>
        </div>

        <div class="item" style="background-color:transparent;">
          <div id="content" class="container">
            <div class="row-fluid">
              <div class="span12 text-center">
                <h1 style="font-size:5em;margin-top:20%;">Apăsa pe butonul de mai jos pentru a incepe prima ta lecție!</h1>
                <a href="lectii.html" style="font-size:4em;margin-top:10%;" class="btn btn-info">Incepe</a>
                <h1 style="font-size:2em;margin-top:25%;">Pentru mai multe informatii si feedback ma puteti contacta la adresa de mail simion.alexgabriel@yahoo.com!</h1>

              </div>
            </div>
          </div>
        </div>

    </div>

  </body>


  <!--scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="http://kenwheeler.github.io/slick/slick/slick.js"></script>
  <script src="../assets/scripts/main.js"></script>

  <script src="https://use.fontawesome.com/7a198b0590.js"></script>



</html>
